*{margin: 0px;padding: 0px}


.image img{   
	box-shadow: 0px 1px 2px #f6f6f6;
	width: 100%;
}

.image{
	margin-top: 10px;
	position: relative;
	overflow: hidden;
	transition: all 0.2s;
}

.image:hover {
    margin-top: 0px;
}
.tep-gia{
	position: relative;
	bottom: 0px;   
	width: 100%;
	left: 0px;
	text-align: center;
	opacity: 1;
	transition: 1s;
}
.tieude{
	background: white;
	padding: 15px;
	position: relative;
	z-index: 1;
	text-align: center;
}
/* .tieude a strong {
    font-size: 16px;
} */
.tieude strong{
	color: black;
}
.gia{
	background: deepskyblue;
	border-radius: 50%;
	height: 100px;
	width: 60%;
	margin: 0px auto;
	position: absolute;
	z-index: 1;
	top: -46px;
	left: 20%;
	opacity: 0.85;
}
.gia span{
	display: block;
	top: 16px;
	position: relative;
	color: white;
	font-weight: 700;
	font-size: 20px;
}
.sanpham{
	padding: 5px;
	margin-bottom: 0px;
	position: relative;
	height: 325px;
	overflow: hidden;
	box-shadow: 1px 1px 5px rgba(0,0,0,.1);
}
.sanpham a{
	text-decoration: none;
}
.sanpham:hover .tieude strong{
	opacity: 1;
	z-index: 3;
	color: deepskyblue;
	border: 0px solid #56bc9a;
	cursor: pointer;
	padding-bottom: 20px;
	color: deepskyblue;
	text-decoration: none;
}