*{margin: 0px;padding: 0px}
.thuong_hieu p {
    display: inline;
    float: left;
    padding-right: 20px;
    font-size: 23px;
}

.thuong_hieu ul {display: inline-block;}

.thuong_hieu ul li {
    float: left;
    list-style: none;
    padding-right: 28px;
    /* text-decoration: none; */
    /* border-right: 1px solid; */
}

.thuong_hieu ul li a {
    text-decoration: none;
    font-size: 22px;
}

body {}

.nav > li > a {
    text-align: center;
    padding: 7px;
}

.icon-navbar {
    font-size: 25px;
    line-height: unset;
    display: flow-root;
}

button.btn.btn-default.nutsearchNavbar {
    margin-left: -41px;
    border: none;
}

i.fa.fa-home {
    font-size: 48px;
    line-height: unset;
}

nav.navbar.navbar-default {
    height: 55px;
    background-color: yellow;
    /* font-family: 'Montserrat', sans-serif; */
}


.image img{   
	box-shadow: 0px 1px 2px #f6f6f6;
	width: 100%;
}

.image{
	margin-top: 10px;
	position: relative;
	overflow: hidden;
	transition: all 0.2s;
}

.image:hover {
    margin-top: 0px;
}
.tep-gia{
	position: relative;
	bottom: 0px;   
	width: 100%;
	left: 0px;
	text-align: center;
	opacity: 1;
	transition: 1s;
}
.tieude{
	background: white;
	padding: 15px;
	position: relative;
	z-index: 1;
	text-align: center;
}
/* .tieude a strong {
    font-size: 16px;
} */
.tieude strong{
	color: black;
}
.gia{
	background: deepskyblue;
	border-radius: 50%;
	height: 100px;
	width: 60%;
	margin: 0px auto;
	position: absolute;
	z-index: 1;
	top: -46px;
	left: 20%;
	opacity: 0.85;
}
.gia span{
	display: block;
	top: 16px;
	position: relative;
	color: white;
	font-weight: 700;
	font-size: 20px;
}
.sanpham{
	padding: 5px;
	margin-bottom: 0px;
	position: relative;
	height: 325px;
	overflow: hidden;
	box-shadow: 1px 1px 5px rgba(0,0,0,.1);
}
.sanpham a{
	text-decoration: none;
}
.sanpham:hover .tieude strong{
	opacity: 1;
	z-index: 3;
	color: deepskyblue;
	border: 0px solid #56bc9a;
	cursor: pointer;
	padding-bottom: 20px;
	color: deepskyblue;
	text-decoration: none;
}

.mucluc a {
	padding-left: 5px;
	padding-right: 5px;
}

.image-big {
	width: 800px;
	height: 500px;
}
.image-small {
	padding-top: 10px;
	padding-left: 100px;
}
.image-small input{
	width: 70px;
	height: 70px;
	border: 1px solid black;
}

.thongtinsp {
	border: 1px solid;
	background-color: #d2d5d8;
}
.thongtinsp ul {
		padding-left: 30px
}
.spcungloai {
	border: 1px solid;
	clear: both;
}
