<div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-push-2">
            <div class="dangnhap">
                <h3>Đăng nhập</h3>
            </div>
        </div>
        <div class="col-xs-8 col-xs-push-2">
            <form class="manhinh_dangnhap" method="post" action="">
                <div class="dangnhap_noidung" >
                    <input type="text" id="txtUserName" autocomplete="true" class="input_dangnhap" placeholder="Tên tài khoản" name="txtUsername" required>
                    <input type="password" id="txtPassWord" autocomplete="true" class="input_dangnhap" placeholder="Mật khẩu" name="txtPassword" required>         
                </div>
                <p>Chưa có tài khoản?<a href="/account/register">Đăng ký ngay</a></p>
                <button type="submit" class="btn-default nut_dangnhap">Đăng nhập</button>
            </form>
        </div>
    </div>
</div>
<div id="chen_khoangtrong"> </div>
{{#section 'js'}}
    <script type="text/javascript">
        if({{showError}})
            alert('{{errorMsg}}');
    </script>
{{/section}}